---
import SectionHeader from "@/components/SectionHeader.astro";
---

<section>
  <SectionHeader text="About Me" />
  <p class="text-slate-700">
    I am a front-end developer living in Tokyo, Japan 🇯🇵. I like both front-end
    and back-end. Basically I'm work as front-end engineer in a company, but I'm
    also happy to write backend code when needed.
  </p>
  <p class="text-slate-700">
    On weekends, I also like to look into the workings of popular libraries such
    as React and create my own web services.
  </p>
  <p class="text-slate-700">
    I love simple, minimal and easy-to-use web services.
  </p>
</section>
