---
import SocialLinkList from "@/components/SocialLinkList.astro";
---

<footer
  class="flex w-full flex-col items-center gap-2 bg-slate-700 pt-10 pb-16 text-center text-sm text-stone-50"
>
  <div class="mt-4 text-white">
    <SocialLinkList />
  </div>
  <p>
    This website is made with <a
      href="https://astro.build/"
      class="underline"
      rel="noopener"
      target="_blank">Astro 2.0</a
    >, the code is on <a
      href="#"
      rel="noopener"
      target="_blank"
      class="underline">GitHub</a
    >
  </p>
</footer>
